<%- include('../partials/header')%>
<h2>Add a Manga</h2>
<p>In the future this will need mod approval when sumitting</p>
<form action="/mangas" method="POST">
    <label>Title:
        <input type="text" name="title"></input>
    </label></br>
    <label>Author:
        <input type="text" name="author"></input>
    </label></br>
    <label>Artist:
      <input type ="text" name="artist">
    </label><br>
    <label>Link to read:
      <input type="text" name="linkToRead">
    </label><br>
    <label>Link for picture:
      <input type="text" name="picture">
    </label></br>
    <input type="submit" value="Add Manga">
</form>
<%- include('../partials/footer')%>