<%- include('../partials/header')%>

<h1>update your review</h1>

<form action="/mangas/<%= manga.id %>/update" method="POST">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="New Review">
</form>

<%- include('../partials/footer')%>